html {
	box-sizing:  border-box;
}

*, *:before, *:after {
	box-sizing: inherit;	
}

body {
	padding: 0;
	margin: 0;
	background-color: #a3ab78;
}

.calculator {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
}

.whole-page {
	display: flex;
	flex-flow: column nowrap;
}

header {
	color: #10454F;
	text-align: center;
	font-size: 2rem;
}

.history-container {
	display: flex;
	flex-flow: column nowrap;
	margin: 3em 5em 0 0;
	justify-content: center;
	border: 3px solid #818274;
	background-color: #10454F;
}

.history-container h2 {
	text-align: center;
	color: #BDE038;
	padding: 1rem;
}

.history-container ul {
	color: #A3AB78;
	font-size: 2rem;
	padding-left: 5px;
	list-style-type: none;
}

.history-container li {
	padding: 5px;
	text-align: center;
}

.wrapper {
	width: 400px;
	background-color: black;
	color: white;
	border: 10px solid #818274;
	margin: 3em 2em;
	display: inline-block;
}

.calc-button-row {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	margin-bottom: 0.5%;
}

.calc-button {
	background-color: #d8d9db;
	color: black;
	border: none;
	font-size: 40px;
	height: 100px;
	flex-basis: 24.5%;
}

.calc-screen {
	text-align: right;
	font-family: 'Courier New', Courier, monospace;
	font-size: 40px;
	padding: 20px 5px;
}

.calc-button:hover {
	background-color: #ebebeb;
}

.calc-button:active {
	background-color: #bbbcbe;
}

.double {
	flex-basis: 49.7%;
}

.triple {
	flex-basis: 74.8% ;
}

.calc-button:last-child {
	background-color: #df974c;
	color: white;
}

.calc-button:last-child:hover {
	background-color: #d9b07e;
}